

    @{
        ViewBag.Title = "Home";
    }
    <link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />
<script src="~/Scripts/image_slide.js"></script>
    <div id="site_content">
        <div class="jumbotron">
            <marquee scrollamount="15"><h3 style="font-size: 40px; color: #FF8C00">Welcome To ZerOne University </h3></marquee>
            <div class="slideShow">
                <ul class="slideShow">
                    <li class="show"><img width="100%" height="300" src="~/images/pic3.jpg" alt="&quot;Administration building&quot;" /></li>
                    <li><img width="100%" height="300" src="~/images/pic2.jpg" alt="&quot;Academic building &quot;" /></li>
                </ul>
            </div>
            

        </div>
        
    </div>
    
<script src="~/Scripts/image_slide.js"></script>