@model ZerOneUniversityApp.Models.Course
@{
    ViewBag.Title = "UnassignCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Unassign All Courses</h2>
<hr />
<br />
<br />
<br />
<br />
@using (Html.BeginForm())
{
     <div class="form-group" style="text-align: center">
        <div>
            <p class="text-center">  <label id="Message" style="color: green"></label></p>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="form-group" style="text-align: center">
        <input type="button" value="Unassign Courses" id="unassignCourses" class="btn btn-primary btn-lg" />
    </div>

    <hr />
}
@section scripts
{
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function() {
            $("#unassignCourses").click(function() {

                var decision = confirm("Are you sure to unassign all courses?");

                if (decision == true) {

                    var jsonData = { decision: decision };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UnassignAllCourses", "Course")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                        success: function(data) {

                            if (data == true) {

                                $("#Message").text("All Courses Are Unassigned Successffully !");
                            } else {

                                $("#Message").text("No Courses Are Available to Unassign !");
                            }
                        },
                    });

                }
                return false;

            });
        });

    </script>
}